{
  "_extra": {
    "sub_urls": [
      ["sub-name-1", "http://example-subscription-provider-1"],
      ["sub-name-2", "http://example-subscription-provider-1"]
    ],
    "filter_keywords": "重置|剩余|到期|官网|提示|域名|流量|群组",
    "regions": [
      ["🇺🇸 美国", "美国|US|United States|🇺🇸"],
      ["🇸🇬 新加坡", "新加坡|SG|Singapore|🇸🇬"],
      ["🇯🇵 日本", "日本|JP|Japan|🇯🇵"],
      ["🇭🇰 香港", "香港|HK|Hong Kong|🇭🇰"],
      ["🇹🇼 台湾", "台湾|TW|Taiwan|🇹🇼"]
    ]
  },
  "log": {
    "disabled": false,
    "level": "info"
  },
  "services": [
    {
      "tag": "Sing-Box-API",
      "type": "api",
      "listen": "127.0.0.1",
      "listen_port": 9090,
      "secret": "YOU_SHOULD_SET_A_STRONG_PASSWORD",
      "access_control_allow_origin": [],
      "access_control_allow_private_network": false,
      "dashboard": {
        "enabled": true,
        "path": "webui",
        "download_url": "https://github.com/SagerNet/sing-box-dashboard/archive/refs/heads/gh-pages.zip",
        "http_client": "Default-HTTP-Client",
        "update_interval": "1d"
      },
      "tls": {}
    }
  ],
  "experimental": {
    "cache_file": {
      "enabled": true,
      "path": "cache.db",
      "store_fakeip": true
    },
    "clash_api": {
      "default_mode": "rule"
    }
  },
  "dns": {
    "servers": [
      {
        "tag": "Local-DNS",
        "type": "https",
        "domain_resolver": "Local-DNS-Resolver",
        "server_port": 443,
        "server": "223.5.5.5",
        "path": "/dns-query"
      },
      {
        "tag": "Local-DNS-Resolver",
        "type": "udp",
        "server_port": 53,
        "server": "223.5.5.5"
      },
      {
        "tag": "Remote-DNS",
        "type": "https",
        "detour": "⚙️ 默认",
        "domain_resolver": "Remote-DNS-Resolver",
        "server_port": 443,
        "server": "1.1.1.1",
        "path": "/dns-query"
      },
      {
        "tag": "Remote-DNS-Resolver",
        "type": "udp",
        "detour": "⚙️ 默认",
        "server_port": 53,
        "server": "1.1.1.1"
      },
      {
        "tag": "Tailscale-EP",
        "type": "tailscale",
        "endpoint": "🔐 tailnet",
        "accept_default_resolvers": false,
        "accept_search_domain": true
      },
      {
        "tag": "FakeIP-DNS",
        "type": "fakeip",
        "inet4_range": "198.18.0.0/15",
        "inet6_range": "fc00::/18"
      }
    ],
    "rules": [
      {
        "preferred_by": ["Tailscale-EP"],
        "server": "Tailscale-EP"
      },
      {
        "action": "predefined",
        "rule_set": ["Ad-Block"],
        "rcode": "NOERROR"
      },
      {
        "clash_mode": "direct",
        "server": "Local-DNS"
      },
      {
        "clash_mode": "global",
        "server": "Remote-DNS"
      },
      {
        "rule_set": ["GeoSite-GeoLocation-!CN"],
        "server": "Remote-DNS"
      },
      {
        "rule_set": ["GeoSite-CN"],
        "server": "Local-DNS"
      }
    ],
    "final": "Remote-DNS",
    "strategy": "ipv4_only"
  },
  "endpoints": [
    {
      "tag": "🔐 tailnet",
      "type": "tailscale",
      "hostname": "",
      "accept_routes": true,
      "exit_node": "",
      "exit_node_allow_lan_access": true,
      "advertise_routes": [],
      "advertise_exit_node": false
    }
  ],
  "http_clients": [
    {
      "tag": "Default-HTTP-Client",
      "detour": "⚙️ 默认"
    }
  ],
  "inbounds": [
    {
      "tag": "ssh-in",
      "type": "direct",
      "listen": "0.0.0.0",
      "listen_port": 7743
    },
    {
      "tag": "tun-in",
      "type": "tun",
      "interface_name": "",
      "address": [
        "10.0.0.1/30",
        "fdfe:dcba:9876::1/126"
      ],
      "mtu": 1280,
      "auto_route": true,
      "auto_redirect": false,
      "strict_route": true,
      "endpoint_independent_nat": false,
      "stack": "mixed"
    }
  ],
   "outbounds": [
    { "type": "direct", "tag": "🎯 直连" },
    {
      "type": "selector",
      "tag": "⚙️ 默认",
      "interrupt_exist_connections": true,
      "outbounds": ["♻️ 低延迟", "🎯 直连", "<all-region-groups>", "<all-proxies>"]
    },
    {
      "type": "selector",
      "tag": "🚩 国内",
      "interrupt_exist_connections": true,
      "outbounds": ["🎯 直连", "⚙️ 默认", "♻️ 低延迟", "<all-region-groups>", "<all-proxies>"]
    },
    {
      "type": "selector",
      "tag": "🎮 游戏-!CN",
      "interrupt_exist_connections": true,
      "outbounds": ["⚙️ 默认", "♻️ 低延迟", "🎯 直连", "<all-region-groups>", "<all-proxies>"]
    },
    {
      "type": "selector",
      "tag": "🤖 AI-!CN",
      "interrupt_exist_connections": true,
      "outbounds": ["⚙️ 默认", "♻️ 低延迟", "🎯 直连", "<all-region-groups>", "<all-proxies>"]
    },
    {
      "type": "selector",
      "tag": "🔎 Google",
      "interrupt_exist_connections": true,
      "outbounds": ["⚙️ 默认", "♻️ 低延迟", "🎯 直连", "<all-region-groups>", "<all-proxies>"]
    },
    {
      "type": "selector",
      "tag": "🍎 Apple",
      "interrupt_exist_connections": true,
      "outbounds": ["⚙️ 默认", "♻️ 低延迟", "🎯 直连", "<all-region-groups>", "<all-proxies>"]
    },
    {
      "type": "selector",
      "tag": "Ⓜ️ Microsoft & GitHub",
      "interrupt_exist_connections": true,
      "outbounds": ["⚙️ 默认", "♻️ 低延迟", "🎯 直连", "<all-region-groups>", "<all-proxies>"]
    },
    {
      "type": "selector",
      "tag": "✈️ Telegram",
      "interrupt_exist_connections": true,
      "outbounds": ["⚙️ 默认", "♻️ 低延迟", "🎯 直连", "<all-region-groups>", "<all-proxies>"]
    },
    {
      "type": "selector",
      "tag": "🐦 Twitter",
      "interrupt_exist_connections": true,
      "outbounds": ["⚙️ 默认", "♻️ 低延迟", "🎯 直连", "<all-region-groups>", "<all-proxies>"]
    },
    {
      "type": "selector",
      "tag": "🎨 Pixiv",
      "interrupt_exist_connections": true,
      "outbounds": ["⚙️ 默认", "♻️ 低延迟", "🎯 直连", "<all-region-groups>", "<all-proxies>"]
    },
    {
      "type": "selector",
      "tag": "⚓ 兜底",
      "outbounds": ["⚙️ 默认", "🎯 直连"]
    },
    {
      "type": "urltest",
      "tag": "♻️ 低延迟",
      "url": "https://www.gstatic.com/generate_204",
      "interrupt_exist_connections": true,
      "interval": "3m",
      "tolerance": 150,
      "outbounds": ["<all-proxies>"]
    },
    "<dynamic-region-groups>"
  ], 
  "route": {
    "rule_set": [
      {
        "tag": "GeoSite-Private",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/private.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoIP-Private",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geoip/private.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoSite-CN",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/cn.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoIP-CN",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geoip/cn.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoSite-GeoLocation-!CN",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/geolocation-!cn.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "Ad-Block",
        "type": "remote",
        "url": "https://gcore.jsdelivr.net/gh/217heidai/adblockfilters@main/rules/adblocksingbox.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoSite-Category-Games-CN",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/category-games-cn.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoSite-Category-Games-!CN",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/category-games-!cn.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoSite-Category-AI-!CN",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/category-ai-!cn.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoSite-Google",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/google.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoIP-Google",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geoip/google.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoSite-Apple",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/apple.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoSite-Microsoft",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/microsoft.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoSite-Telegram",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/telegram.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoIP-Telegram",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geoip/telegram.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoSite-Twitter",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/twitter.srs",
        "format": "binary",
        "update_interval": "24h"
      },
      {
        "tag": "GeoSite-Pixiv",
        "type": "remote",
        "url": "https://testingcf.jsdelivr.net/gh/MetaCubeX/meta-rules-dat@sing/geo/geosite/pixiv.srs",
        "format": "binary",
        "update_interval": "24h"
      }
    ],
    "rules": [
      {
        "ip_cidr": [
          "127.0.0.0/8",
          "::1/128"
        ],
        "outbound": "🎯 直连"
      },
      {
        "action": "sniff",
        "inbound": ["tun-in"]
      },
      {
        "action": "hijack-dns",
        "protocol": ["dns"]
      },
      {
        "inbound": ["ssh-in"],
        "source_ip_cidr": [
          "192.168.0.0/16",
          "10.0.0.0/8"
        ],
        "port": [7743],
        "outbound": "🎯 直连",
        "override_address": "127.0.0.1",
        "override_port": 22
      },
      {
        "action": "reject",
        "inbound": ["ssh-in"]
      },
      {
        "preferred_by": ["🔐 tailnet"],
        "outbound": "🔐 tailnet"
      },
      {
        "ip_is_private": true,
        "outbound": "🎯 直连"
      },
      {
        "rule_set": [
          "GeoSite-Private",
          "GeoIP-Private"
        ],
        "outbound": "🎯 直连"
      },
      {
        "clash_mode": "direct",
        "outbound": "🎯 直连"
      },
      {
        "clash_mode": "global",
        "outbound": "⚙️ 默认"
      },
      {
        "protocol": ["bittorrent"],
        "outbound": "🎯 直连"
      },
      {
        "action": "reject",
        "rule_set": ["Ad-Block"]
      },
      {
        "rule_set": ["GeoSite-Category-Games-CN"],
        "outbound": "🚩 国内"
      },
      {
        "rule_set": ["GeoSite-Category-Games-!CN"],
        "outbound": "🎮 游戏-!CN"
      },
      {
        "rule_set": ["GeoSite-Category-AI-!CN"],
        "outbound": "🤖 AI-!CN"
      },
      {
        "rule_set": [
          "GeoSite-Google",
          "GeoIP-Google"
        ],
        "outbound": "🔎 Google"
      },
      {
        "rule_set": ["GeoSite-Apple"],
        "outbound": "🍎 Apple"
      },
      {
        "rule_set": ["GeoSite-Microsoft"],
        "outbound": "Ⓜ️ Microsoft & GitHub"
      },
      {
        "rule_set": [
          "GeoSite-Telegram",
          "GeoIP-Telegram"
        ],
        "outbound": "✈️ Telegram"
      },
      {
        "rule_set": ["GeoSite-Twitter"],
        "outbound": "🐦 Twitter"
      },
      {
        "rule_set": ["GeoSite-Pixiv"],
        "outbound": "🎨 Pixiv"
      },
      {
        "rule_set": ["GeoSite-GeoLocation-!CN"],
        "outbound": "⚙️ 默认"
      },
      {
        "rule_set": [
          "GeoSite-CN",
          "GeoIP-CN"
        ],
        "outbound": "🚩 国内"
      }
    ],
    "auto_detect_interface": true,
    "find_process": true,
    "final": "⚓ 兜底",
    "default_domain_resolver": {
      "server": "Local-DNS"
    }
  }
}
